.navbar .nav-link
{
  color: #000000;
  border-radius: 8px;
  font-family: 'Poppins';
  margin-left: 20px;
}

.navbar .nav-link:hover {
  color: #ffffff;
  background: #000000;
  border-radius: 8px;
  font-family: 'Poppins';
}

#header
{
  position: absolute;
  width: 100vw;
  height: 30px;
  left: 0px;
  top: 65px;
  background: #000000;
}

#footer
{
  position: absolute;
  width: 100vw;
  height: 100px;
  left: 0px;
  bottom: 0px;
  background: #373737;
}