<table border = 1>
    <tr>
        <th>Vehicle ID</th>
        <th>Current Location</th>
        <th>Number Plate</th>
        <th>Type</th>
        <th>Fuel Type</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Max Capacity</th>
        <th>Price</th>
        <th>Interstate permit</th>
        <th>Rental</th>
        <th>Availability</th>
        <th>Duty Start</th>
        <th>Duty End</th>
    </tr>
    {% for row in row1 %}
        <tr>
            {% for each in row %}
                <td>{{ each }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>