<table border = 1>
    <tr>
        <th>Vehicle ID</th>
        <th>Currentlocation</th>
        <th>Numberplate</th>
        <th>Type</th>
        <th>Fuel Type</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Maxcapacity</th>
        <th>Price</th>
        <th>Interstate permit</th>
        <th>Rental</th>
        <th>Availability</th>
        <th>Dutystart</th>
        <th>Dutyend</th>
    </tr>
    {% for row in row1 %}
        <tr>
            {% for each in row %}
                <td>{{ each }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>