<h3>Cancelled</h3>
<table border = 1>
    <tr>
        <th>From Location</th>
        <th>To Location</th>
        <th>Time of Booking</th>
        <th>Ride Type</th>
        <th>Status</th>
        <th>Reason</th>
        <th>Cancelled By</th>
        <th>Penalty</th>
        
    </tr>
    {% for row in row1 %}
        <tr>
            {% for each in row %}
                <td>{{ each }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<br><br>

<h3>Rentals</h3>
<table border = 1>
    {% for row in row2 %}
        <tr>
            {% for each in row %}
                <td>{{ each }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<br><br>

<h3>Shared</h3>
<table border = 1>
    {% for row in row3 %}
        <tr>
            {% for each in row %}
                <td>{{ each }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<br><br>

<h3>Outstation</h3>
<table border = 1>
    {% for row in row4 %}
        <tr>
            {% for each in row %}
                <td>{{ each }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>